
body
   {
    background-color: rgb(231, 212, 212); 
   }
.main
  {
   /* width: 100px; */
   background-color: aqua;
   display: grid;
   columns: 300px 300px 100px 100px;
   column-gap: 20px;
   }
.item
{
   border: 2px solid red;
width:300px

}












    @media screen and (min-width:400px) and (max-width:700px)
     {
      body
      {
         background-color:red;
      }
   }


