
.tea
{
    /* float: right; */

}
.te1
{
 /* float:left; */
    height: 10px;
    width: 30px;

clear: left;

}
img{
    height: 200px;
    width: 200px;
float:right;
}


.cl1
{
    position: absolute;
    top:400px;
    width:100px;
    height:100px ;
    border: 3px solid red;
    border-radius: 20px;
    background: linear-gradient(green,yellow);
}
.cl
{
    position: absolute;
    top:570px;
    width:100px;
    height:100px ;
    border: 3px solid red;
    border-radius: 20px;
    background: linear-gradient(100deg,red,yellow);
   
   }